body {
        background-image:url("Slike/background.jpg");
        background-repeat:no-repeat;
        background-attachment:fixed;
		overflow-x:hidden;
		overflow-y:hidden;
		display:block;
     }

#Naslov h1   {
               text-align:center;
               font-size:70pt;
               font-family:monotype corsiva;
               margin-top:-2vw;

            }

#meni{
        margin-top:-6vw;
        padding-bottom:0.3vw;
		padding-top:0.3vw;
}
#meni ul li {
                display:inline;
                text-align:left;
                font-size:30pt;
                font-style:oblique;
                font-family:monotype corsiva;
				margin:4vw;
				margin-left:6vw;
				margin-top:-4vw;
              }
#meni ul a {
                text-decoration:none;
                color:#330000;
                
              }


#LOGO {
	    height:4vw;
        width:4vw;
		background-color:transparent;
        border-radius:50%;
		margin-top:-47vw;
		margin-left:5vw;
		border:0.1vw solid black;
	   -webkit-animation:mymove 5s infinite;
        animation:mymove 5s infinite;
}
@keyframes mymove {
                    50% { 
					     border:1vw solid #800000;
					     background-color:#D2B48C;
						 }
					    }
#LOGO p {
	     font-family:monotype corsiva;
		 font-size:30pt;
		 margin-top:0vw;
		 margin-left:0.7vw;		 
}
#red {
	background-color:#CC9966;
	border:1vw double #331100;
	height:16vw;
	width:33vw;
	margin-left:14.5vw;
	margin-top:-1vw;
}
#red h1 {
		 font-family:monotype corsiva;
		 font-size:15pt;
		 margin-top:-0.1vw;
		 margin-left:1vw;
}
#red p {
		 font-family:monotype corsiva;
		 font-size:12pt;
		 margin-top:-1.1vw;
		 margin-left:1vw;
}
#okvir {
	border:0.1vw solid #331100;
	border-radius:2vw;
	background-color:transparent;
	background-image:url("Slike/pribor5.jpg");
	background-repeat:no-repeat;
	height:11.5vw;
	width:30vw;
	margin-left:1vw;
	margin-top:-0.5vw;
}
#redd {
	background-color:#CC9966;
	border:1vw double #331100;
	height:16vw;
	width:33vw;
	margin-left:14.5vw;
	margin-top:0.5vw;
}
#redd h1 {
		 font-family:monotype corsiva;
		 font-size:15pt;
		 margin-top:-0.1vw;
		 margin-left:1vw;
}
#redd p {
		 font-family:monotype corsiva;
		 font-size:12pt;
		 margin-top:-1.1vw;
		 margin-left:1vw;
}
#ok {
	border:0.1vw solid #331100;
	border-radius:2vw;
	background-color:transparent;
	background-image:url("Slike/cestitke1.jpg");
	background-repeat:no-repeat;
	height:11.5vw;
	width:30vw;
	margin-left:1.5vw;
	margin-top:-0.5vw;
}
#kolona {
	background-color:#CC9966;
	border:1vw double #331100;
	height:16vw;
	width:33vw;
	margin-left:50vw;
	margin-top:-36.3vw;
	
}
#kolona h1 {
		 font-family:monotype corsiva;
		 font-size:15pt;
		 margin-top:-0.1vw;
		 margin-left:1vw;
}
#kolona p {
		 font-family:monotype corsiva;
		 font-size:12pt;
		 margin-top:-1.1vw;
		 margin-left:1vw;
		 margin-top:-1vw;
}
#okv {
	border:0.1vw solid #331100;
	border-radius:2vw;
	background-color:transparent;
	background-image:url("Slike/foto4.jpg");
	background-repeat:no-repeat;
	height:11.5vw;
	width:30vw;
	margin-left:1.5vw;
	margin-top:-0.5vw;
}
#kolonaa {
	background-color:#CC9966;
	border:1vw double #331100;
	height:16vw;
	width:33vw;
	margin-left:50vw;
	margin-top:0.5vw;

}
#kolonaa h1 {
	     font-family:monotype corsiva;
		 font-size:15pt;
		 margin-top:-0.1vw;
		 margin-left:1vw;
}
#kolonaa p {
		 font-family:monotype corsiva;
		 font-size:15pt;
	     text-align:center;
		 margin-top:5vw;
}