*{
	box-sizing:border-box;
}
body {
        background-image:url("Slike/background.jpg");
        background-repeat:no-repeat;
        background-attachment:fixed;
		overflow-x:hidden;
		display:block;
		width: 100%;
	    margin: 0 auto;
     }
#Naslov h1   {
            font-size:7vw;
            font-family:monotype corsiva;
			float:left;
			margin-left:39vw;
			margin-top:1vw;
           }

#meni{
      
       padding-bottom:0.3vw;
	   padding-top:0.3vw;
	   float:left;
		
     }
#meni ul li {
                display:inline;
                text-align:left;
                font-size:3.5vw;
                font-style:oblique;
                font-family:monotype corsiva;
				margin:2.5vw;
				margin-left:6vw;
				margin-top:-4vw;
				float:left;
         }
#meni ul a {
                text-decoration:none;
                color:#27190c;
                
         }
.red{
	padding: 10px;
	width:100%;
	float:left;
	min-height: 1px;
	background-color:transparent;
}

.Kolona{
	background: red;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	float: left;
	min-height: 20px;
	background-color:transparent;
}
.jedan {
	       width:100%;
       }
.dva {
	   width:48%;
     }
	 
.Kolona:first-child{
	margin-left: 0px;
}

.Kolona:last-child{
	margin-right: 0px;
}
.Kolona.dva.lijevo {
	             background-color:#CC9966;
	             border:1vw double #331100;
	             height:35vw;
				 float:left;
	             margin-left:1.5vw;
	             margin-top:1vw;
               }
		
.Kolona.dva.desno{
	           background-color:#CC9966;
	           border:1vw double #331100;
	           height:35vw;
			   float:left;
	           margin-left:49.5vw;
	           margin-top:-35vw;
            }

h1.Lijevo {
	      font-family:monotype corsiva;
		  font-size:2vw;
		  float:left;
		  margin-top:0.3vw;
		  margin-left:1vw;
        }
p.Lijevo {
		 font-family:monotype corsiva;
		 font-size:1.5vw;
		 float:left;
		 margin-top:3vw;
		 margin-left:-15vw;
        }
div.okvir{
	      border:0.1vw solid #331100;
	      border-radius:2vw;
	      background-color:transparent;
	      background-image:url("Slike/pribor5.jpg");
	      background-repeat:no-repeat;
		  float:left;
	      height:25vw;
	      width:32vw;
	      margin-left:6.5vw;
	      margin-top:-1.3vw;
        }
h1.Desno {
	      font-family:monotype corsiva;
		  font-size:2vw;
		  float:left;
		  margin-top:0.2vw;
		  margin-left:1vw;
        }
p.Desno {
		 font-family:monotype corsiva;
		 font-size:1.5vw;
		 float:left;
		 margin-top:3vw;
		 margin-left:-15vw;
}
div.okvirDesno{
	           border:0.1vw solid #331100;
	           border-radius:2vw;
	           background-color:transparent;
	           background-image:url("Slike/cestitkaNovooo.jpg");
	           background-repeat:no-repeat;
	           height:25vw;
	           width:32vw;
			   max-width:100vw;
	           float:left;
			   margin-left:6.5vw;
	           margin-top:-1.3vw;
             }
div.okvirLijevo{
	           border:0.1vw solid #331100;
	           border-radius:2vw;
	           background-color:transparent;
	           background-image:url("Slike/foto4.jpg");
	           background-repeat:no-repeat;
			   float:left;
	           height:25vw;
	           width:32vw;
			   max-width:100vw;
	           float:left;
			   margin-left:6.5vw;
	           margin-top:-1.3vw;  
              }
input.UnesiText {
	           font-family:monotype corsiva;
			   font-size:2vw;
               float:left;			   
               width:16vw;
			   height:2.5vw;
			   background-color:#ffd9b3;
			   border:0.1vw solid black;
			   margin-left:9vw;
}		
input.btnPotvrdi{
	             font-family:monotype corsiva; 
                 font-size:2vw;
                 float:left;				 
				 height:2.5vw;
                 width:10vw;
                 background-color:#ffd9b3;
                 border:0.1vw solid black;				 
}
.Tabela {
         font-family:monotype corsiva;
         width:98vw;
		 border-radius:5vw;
		 float:left;
      }
	  
td,th {
         border:0.4vw solid black;
         text-align:center;
		 padding:0.5vw;
		 font-size:2vw;
     }

tr:nth-child(even){
			      background-color:#cd853f;
				 }

tr:hover {
	      background-color:#ddd;
        }		    

th{
     padding-top:1vw;
     padding-bottom:1vw;
     background-color:#8b4513;
     color:black;
	 font-size:2vw;
	 width:20vw;
			 
  }	
p.paragraf{
           	            font-family:monotype corsiva;
		                font-size:3vw;
		                float:left;
				        margin-top:1vw;
				        margin-left:8vw;
               }
ul.Uredi li {
	      
	      float:left;
	      list-style:none;
		  margin-left:5vw;
		  font-size:2.2vw;
		  margin-top:-3vw;
		  
          
	}			   
ul.Uredi li a {
	             font-family:monotype corsiva;
	             float:left;
                 text-decoration:none;
                 color:black;					 
           } 
			  
li.Face:hover 
                              {	               
				list-style:url("Slike/facebook.png");		  
               }
li.Twitter:hover 
                              {	               
			    list-style-image:url("Slike/twitter.png");	  
               }
li.Instagram:hover 
                              {	               
			    list-style-image:url("Slike/instagram.png");	  
               } 
			   
.poravnato {
	              max-height:45vw;
}
p.tekst {
     	    background-color:transparent;
	        height:30vw;
	        margin-left:5vw;
	        margin-top:-1vw;
			float:left;
			font-family:monotype corsiva;
		    font-size:2vw;
		    text-align:justify;
			float:left;
}
.slika {
	         border:0.1vw solid #331100;
	         border-radius:2vw;
	         background-image:url("Slike/mi.jpg");
	         background-repeat:no-repeat;
	         height:30vw;
	         margin-left:49vw;
	         margin-top:-31vw;
			 float:left;
           }
p.kraj {
	           text-align:center;
			   font-family:monotype corsiva;
			   font-size:2vw;
}

input.UnesiPoslovnicu {
	                 font-family:monotype corsiva;
			         font-size:2vw;	
                     width:20vw;
			         background-color:#ffd9b3;
			         border:0.1vw solid black;
					 margin-left:5vw;
					 float:left;
}		
input.btnPotvrdiPoslovnicu{
	                       font-family:monotype corsiva; 
                           font-size:2vw;	
                           width:10vw;
                           background-color:#ffd9b3;
                           border:0.1vw solid black;
                           float:left;						   
}
.Forma{
        border:1vw double #330000;
        padding:1vw;
        background-color:#996633;
		border-radius:2vw;
		float:left;
		margin-left:35vw;
      }
label{
	      text-align: left;
          font-family:monotype corsiva;
          font-size: 2.5vw;
		  margin-left:1vw;
		  float:left;
		  margin-top:1.5vw;
}
input{
	  width: 22vw;
      height:2.9vw;
      margin-top:0.9vw;
      margin-left:1vw;
	  background-color:#ffdd99;
	  border:0.2vw solid black;
	  border-radius:1vw;
	  float:left;
    }
textarea{
             width:22vw;
             margin-top:-0.2vw;
			 margin-left:1vw;
			 background-color:#ffdd99;
			 border:0.2vw solid black;
			 border-radius:1vw;
			 float:left;
          }
@media screen and (max-width: 500px)
{
div.NovostLijevo {
				 max-width:100vw;
				 max-height:100vw;
	             margin:auto;
				 margin-top:1vw;
               }
		
div.NovostDesno{
	           max-width:100vw;
			   max-height:100vw;
	           margin:auto;
			   margin-top:1vw;
            }
input.UnesiText {
	           
			   margin-left:35vw;
}
#oNama {
     	max-height:100vw;
		max-width:100vw;
	    margin:auto;
}

#oNamaOkvir {
	         
			 max-height:100vw;
			 max-width:100vw;
	         margin:auto;
			 margin-top:1vw;
           }

input.UnesiPoslovnicu {
	                 
					 margin-left:35vw;
					 margin-top:1vw;
                    }
}