*{
	box-sizing:border-box;
}
body {
	    background-image:url("Slike/background2.jpg");
        background-repeat:no-repeat;
        background-attachment:fixed;
		overflow-x:hidden;
		display:block;
		min-width:20%;
		min-height:20%;
     }
h1.Naslov   {
            font-size:7vw;
            font-family:monotype corsiva;
			float:left;
			margin-left:39vw;
			margin-top:1vw;
			text-shadow:2.5px 2.5px #990000;
           }

.meni{
      
       padding-bottom:0.3vw;
	   margin-top:-4vw;
	   float:left;
	   padding-top:4vw;
	   padding-bottom:0.1vw;
		
     }
.meni ul li {
                display:inline;
                text-align:left;
                font-size:3.5vw;
                font-style:oblique;
                font-family:monotype corsiva;
				margin:2vw;
				margin-left:3vw;
				margin-top:-4vw;
				float:left;
				text-shadow:2px 2px #990000;
         }
.meni ul a {
                text-decoration:none;
                color:#27190c;
                
         }
.red{
	padding: 10px;
	width:100%;
	float:left;
	min-height: 1px;
	background-color:transparent;
}

.Kolona{
	background: red;
	margin-left: 1%;
	margin-right: 1%;
	display: inline-block;
	float: left;
	min-height: 20px;
	background-color:transparent;
}
.jedan {
	       width:98%;
       }
.dva {
	   width:48%;
     }
	 
.Kolona:first-child{
	margin-left: 0px;
}

.Kolona:last-child{
	margin-right: 0px;
}
.lijevo {
	             background-color:#CC9966;
	             border:1vw double #331100;
	             height:35vw;
				 float:left;
	             margin-left:1.5vw;
	             margin-top:1vw;
               }
		
.desno{
	           background-color:#CC9966;
	           border:1vw double #331100;
	           height:35vw;
			   float:right;
	           margin-top:1vw;
            }

h1.Lijevo {
	      font-family:monotype corsiva;
		  font-size:2vw;
		  float:left;
		  margin-top:0.3vw;
		  margin-left:1vw;
        }
p.Lijevo {
		 font-family:monotype corsiva;
		 font-size:1.5vw;
		 float:left;
		 margin-top:3vw;
		 margin-left:-15vw;
        }
div.okvir{
	      border:0.1vw solid #331100;
	      border-radius:2vw;
	      background-color:transparent;
	      background-image:url("Slike/pribor5.jpg");
	      background-repeat:no-repeat;
		  float:left;
	      height:25vw;
	      width:32vw;
	      margin-left:6.5vw;
	      margin-top:-1.3vw;
		  animation-name: promjenaPribor;
          animation-duration:20s;
        }
		
@keyframes promjenaPribor {
    0%   {background-image:url("Slike/pribor1.jpg");}
    25%  {background-image:url("Slike/pribor2.jpg");}
    50%  {background-image:url("Slike/pribor3.jpg");}
    100% {background-image:url("Slike/pribor4.jpg");}
}
h1.Desno {
	      font-family:monotype corsiva;
		  font-size:2vw;
		  float:left;
		  margin-top:1vw;
		  margin-left:1vw;
        }
p.Desno {
		 font-family:monotype corsiva;
		 font-size:1.5vw;
		 float:left;
		 margin-top:-25.5vw;
		 margin-left:-15vw;
		 padding:25vw;
}
div.okvirDesno{
	           border:0.1vw solid #331100;
	           border-radius:2vw;
	           background-color:transparent;
	           background-image:url("Slike/cestitkaNovooo.jpg");
	           background-repeat:no-repeat;
	           height:25vw;
	           width:32vw;
			   max-width:100vw;
	           float:left;
			   margin-left:6.5vw;
	           margin-top:0.2vw;
			   animation-name: promjenaCestitka;
               animation-duration: 20s;
             }
@keyframes promjenaCestitka {
    0%   {background-image:url("Slike/cestitka1.jpg");}
    25%  {background-image:url("Slike/cestitka2.jpg");}
    50%  {background-image:url("Slike/cestitka3.jpg");}
    100% {background-image:url("Slike/cestitka4.jpg");}
}
div.okvirLijevo{
	           border:0.1vw solid #331100;
	           border-radius:2vw;
	           background-color:transparent;
	           background-image:url("Slike/foto4.jpg");
	           background-repeat:no-repeat;
			   float:left;
	           height:25vw;
	           width:32vw;
			   max-width:100vw;
	           float:left;
			   margin-left:6.5vw;
	           margin-top:-1.3vw;
               animation-name: promjenaAlbum;
               animation-duration: 20s;			   
              }
@keyframes promjenaAlbum {
    0%   {background-image:url("Slike/album1.jpg");}
    25%  {background-image:url("Slike/album2.jpg");}
    50%  {background-image:url("Slike/album3.jpg");}
    100% {background-image:url("Slike/album4.jpg");}
}
.Granica {
	      margin:auto;
		  border: 0.5vw double black;  
		  padding:1vw;
		  background-color:#8b4513;
		  color:#ffbf80;
         }
input.UnesiText {
	           font-family:monotype corsiva;
			   font-size:2vw;            			   
               width:16vw;
			   height:2.5vw;
			   background-color:#cd853f;
}		
input.btnPotvrdi{
	             font-family:monotype corsiva; 
                 font-size:2vw;             				 
				 height:2.5vw;
                 width:10vw;
                 background-color:#cd853f;
                 				 
}
.Tabela {
         font-family:monotype corsiva;
         width:98%;
		 border-radius:5vw;
		 float:left;
		 padding-left:2vw;
		 padding-right:2vw;
		 margin-left:2.5vw;
      }

.Tabela td,th {
         border:0.4vw solid black;
         text-align:center;
		 padding:0.5vw;
		 font-size:2vw;
     }

.Tabela tr:nth-child(even){
			      background-color:#cd853f;
				 }

.Tabela tr:hover {
	      background-color:#ddd;
        }		    

.Tabela th{
     padding-top:1vw;
     padding-bottom:1vw;
     background-color:#8b4513;
     color:#ffbf80;
	 font-size:2vw;
	 width:20vw;
			 
  }	
p.paragraf{
           	            font-family:monotype corsiva;
		                font-size:3vw;
		                float:left;
				        margin-top:1vw;
				        margin-left:8vw;
               }
.Link ul li {
	      
	      float:left;
	      list-style:none;
		  margin-left:5vw;
		  font-size:2.2vw;
		  margin-top:-3vw;
		  padding:2%;
		  
          
	}			   
.Link ul li a {
	             font-family:monotype corsiva;
	             float:left;
                 text-decoration:none;
                 color:black;					 
           } 
			  
.tekst{
	     max-width:45vw;
		 width:42vw;
		 background-color:transparent;
		 float:left;
}
p.tekstParagraf {
     	        
	             height:32vw;
			     float:left;
			     font-family:monotype corsiva;
		         font-size:2vw;
		         text-align:justify;
				 margin-left:3vw;
				 margin-top:-0.7vw;
}
.slika {
	         border:0.1vw solid #331100;
	         border-radius:2vw;
	         background-image:url("Slike/mi.jpg");
	         background-repeat:no-repeat;
	         height:32vw;
			 width:42vw;
           }
p.kraj {
	           text-align:center;
			   font-family:monotype corsiva;
			   font-size:2vw;
}

input.UnesiPoslovnicu {
	                 font-family:monotype corsiva;
			         font-size:2vw;	
                     width:20vw;
			         background-color:#ffd9b3;
			         border:0.1vw solid black;
					 margin-left:5vw;
					 float:left;
}		
input.btnPotvrdiPoslovnicu{
	                       font-family:monotype corsiva; 
                           font-size:2vw;	
                           width:10vw;
                           background-color:#ffd9b3;
                           border:0.1vw solid black;
                           float:left;						   
}
form.Forma{
        border:1vw double #330000;
        padding:1vw;
        background-color:#996633;
		border-radius:2vw;
		float:left;
		margin-left:35vw;
		width:30vw;
		height:57vw;
      }

label{
	      text-align: left;
          font-family:monotype corsiva;
          font-size: 2.5vw;
		  margin-left:1vw;
		  float:left;
		  margin-top:1.5vw;
}
input{
	  width: 22vw;
      height:2.9vw;
      margin-top:0.9vw;
      margin-left:1vw;
	  background-color:#ffdd99;
	  border:0.2vw solid black;
	  border-radius:1vw;
	  float:left;
    }
textarea{
             width:22vw;
             margin-top:-0.2vw;
			 margin-left:1vw;
			 background-color:#ffdd99;
			 border:0.2vw solid black;
			 border-radius:1vw;
			 float:left;
          }
#Input{
	    font-family:monotype corsiva; 
          font-size:2vw;
}
#InputOnama{
	    font-family:monotype corsiva; 
          font-size:2vw;
}

.DropBtn {
          display: inline-block;
          text-align: center;
          text-decoration: none;
}

li.DropDownMenu {
                display: inline-block;
              }

.DropDownItem {
               display: none;
               position: absolute;
               background-color:#ffb366;
			   width:18vw;
			   padding:2vw;
			   
			 }

.DropDownItem a {
                 color: black;
                 text-decoration: none;
                 display: block;
                 text-align: left;
				 width:18vw;
				 margin-left:-2vw;
               }

.DropDownItem a:hover {
	                    background-color:#ffe6cc;
					 }

.show {
	    display:block;
	  }
p.GalerijaParag{
	      font-family:monotype corsiva;
		  font-size:3vw;
		  font-style:bold;
		  float:left;
		  padding-left:6vw;
		  margin-top:2vw;
		  
}
img.image{
      margin-left:10vw;
	  width:30vw;
	  height:40vw;
	  border:0.4vw solid black;
	  transition:0.5s;
   }
img.image:hover{
	       border:1vw solid black;
}
img.Pimage{
      margin-left:5vw;
	  width:40vw;
	  height:30vw;
	  border:0.4vw solid black;
	  transition:0.5s;
   }
img.Pimage:hover{
	       border:1vw solid black;
}
img.Cimage{
      margin-left:5vw;
	  width:40vw;
	  height:30vw;
	  border:0.4vw solid black;
	  transition:0.5s;
   }
img.Cimage:hover{
	       border:1vw solid black;
}
#ajax {
	     font-family:monotype corsiva;
		  font-size:3vw;
		  font-style:bold;
		  float:left;
		 margin-left:5vw;
}
@media screen and (max-width: 430px)
{
    .red, .Kolona{
	             float:none;
                }

.meni{
      padding-bottom:0.3vw;
	   margin-top:-25vw;
	   margin-right:22vw;
	   margin-left:-15vw
		
     }
.meni ul li{
	      width: 133%;
	      margin: auto;
	      padding: 2%;
	      float: left;
	      text-align: center;
		  background-color:#ffbf80;
		  margin-top:1vw;
		  font-size:8vw;
}
h1.Naslov   {
              font-size:20vw;
              margin-left:23vw;
           }
.jedan, .dva{
	           width:100%
}
.lijevo {
				 max-width:100vw;
				 max-height:100vw;
	             margin-left:5vw;
	             margin-top:-5vw;
	             width:90%;
               }
		
.desno{
	           max-width:100vw;
			   max-height:100vw;
	           margin-right:5vw;
	           width:90%;
        }
.okvir{
	display:none;
}
.okvirDesno{
	display:none;
}
.okvirLijevo{
	display:none;
}
p.tekstParagraf {
	             height:50%;
		         font-size:8vw;
		         padding-left:20vw;
}
.slika {
	     display:none;	

       }
.Granica{
	margin-left:-3.5vw;
	width:98vw;
	height:13vw;

}
h1.Lijevo {
		  font-size:8vw;
        }
p.Lijevo {
		 font-size:5vw; 
		 margin-left:2vw;
        }
h1.Desno {
		  font-size:8vw;
        }
p.Desno {
		 font-size:5vw;
}
input.UnesiText {
	           
			      width:40vw;
			      height:5vw;
}		
input.btnPotvrdi{             				 
				 height:5vw;
                 width:20vw;
                 font-size:3vw;
                 }
label.Naziv{
	font-size:5vw;
}
.Tabela {
         width:98%;
		 border-radius:5vw;
		 float:left;
		 padding-left:5vw;
		 padding-right:5vw;
		 margin-left:-9.7vw;
      }

.Tabela td,th {
         
         text-align:center;
		 padding:2vw;
		 font-size:4vw;
     }
.Tabela th{
     padding-top:3vw;
     padding-bottom:3vw;
	 font-size:3vw;
			 
  }
p.paragraf{
            font-size:10vw;
		    margin-top:-2vw;
           }
.Link ul li {
	      margin-left:-19vw;
		  font-size:8vw;
		  margin-top:-25vw;
		  padding:20%;
	}		
form.Forma{
        border:3vw double #330000;
        padding:2vw;
		border-radius:3vw;
		margin-left:5vw;
		width:80vw;
		height:100%;
      }
label{
          font-size:10vw;
		  margin-top:1.5vw;
		  margin-left:1vw;
}
input{
	  width:65vw;
      height:9vw;
      margin-left:1.5vw;
	  border:1vw solid black;
	  border-radius:1.5vw;

    }
textarea{
             width:65vw;
			 margin-left:1.5vw;
			 border:1vw solid black;
			 border-radius:1.5vw;
          }	
p.kraj {
			  display:none;
}
}